<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//aws-pizza-luvrs.s3.amazonaws.com/css/stylesheet.css" />
    <link rel="shortcut icon" href="//aws-pizza-luvrs.s3.amazonaws.com/favicon.ico" type="image/x-icon">
    <title>pizza luvrs</title>
  </head>
  {{{content}}}
</html>
